.filter-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cinco categorias */
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.active {
  background-color: #FFD700;
}

@media (min-width: 769px) {
  .filter-container {
    justify-content: center;
  }
}