.done-page-container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0;
}

.done-filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.done-filter-container button {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.dones-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.done-card-container {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0;
  position: relative;
}

.done-card-container img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: auto;
}

.row-container {
  align-items: center;
  display: flex;
  gap: 15px;
  padding: 0;
}

.col-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px 0 0;
}

.col-container p {
  margin: 0;
}

.done-name {
  font-weight: 700;
}

.done-card-container a {
  color: inherit;
  text-decoration: none;
}

.done-info {
  color: grey;
  font-size: 0.9rem;
}

.done-card-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 5px 0 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.done-card-container button img {
  height: 20px;
  width: 20px;
}

@media screen and ( min-width : 769px ) {

  .done-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .dones-container {
    align-items: center;
    gap: 25px;
  }

  .done-card-container {
    width: 80%;
  }
}
