.favorite-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 768px;
  padding: 20px;
}

.favorite-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.favorite-filter-container button {
  background-color: #fcc436;
  border: none;
  border-radius: 38.69px;
  color: white;
  cursor: pointer;
  display: block;
  height: 38.69px;
  line-height: 38.69px;
  margin: 10px auto;
  opacity: 1;
  padding: 0;
  text-align: center;
  width: 217.44px;
}

.favorite-filter-container button:hover {
  background-color: #d3a22e;
  opacity: 0.8;
}

.favorites-container {
  width: 100%;
}

@media screen and ( min-width : 769px ) {

  .favorite-page-container {
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
