.favorite-card-container {
  display: flex;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  padding: 0;
}

.favorite-card-container img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.fav-info-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 100%;
  justify-content: space-between;
}

.fav-name-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.fav-name {
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

.fav-info {
  font-size: 14px;
  color: #777;
}

.fav-button-container {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.fav-button-container button {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.fav-button-container button img {
  width: 25px;
  height: 25px;
}
