.recipe-page-container {
  background-color: white;
  font-family: Arial , sans-serif;
  margin: 0 auto;
  max-width: 768px;
  padding: 0;
  width: 100%;
}

.recipes-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

@media ( min-width : 769px ) {

  .page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .filter-container {
    justify-content: center;
  }
}
