.recipe-card-container {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
}

.recipe-card-container img {
  width: 100%;
  display: block;
}

.recipe-card-container .recipe-name-s span {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #F5F5F5;
}

.recipe-card-container .recipe-name-s {
  padding-top: 10px;
  text-align: center;
}

@media (min-width: 641px) {

  .recipe-card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  img {
      width: 100px;
      border-radius: 10px 10px 0 0;
  }
}