[ data-testid = 'searchBar' ] {
  align-items: center;
  background-color: #41197f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input.bar {
  border-radius: 10px;
  border-style: groove;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

div {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;

}

label [ type = 'radio' ] {
  margin-right: 5px;
}

div label {
  color: white;
}

[ data-testid = 'exec-search-btn' ] {
  background-color: #FCC436;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 12px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 80%;
}

.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-container div {
  display: flex;
  justify-content: center;
}

.search-container button {
  display: block;
  margin: 0 auto;
}