.footer {
  background-color: #41197f;
  bottom: 0;
  color: white;
  left: 0;
  margin: 0 auto;
  padding: 15px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer-icon {
  filter: invert(1);
  height: 50px;
  margin: 0 50px;
  width: 50px;
}
